<div class="row" style="background-color:blanchedalmond; padding: 15px; border-radius: 10px;">
    <h4>Recipe List Component</h4>
    <hr style="height: 1px; background-color: #ccc; border: none;">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success">New Recipe</button>
        </div>
    </div>
    <br>
    <!-- Iterate over list of recipes items -->
    <div class="row">
        <div class="col-xs-12">
            <app-recipe-item *ngFor="let recipeElement of listOfRecipes"
                [recipe]="recipeElement"
                (recipeSelected)="onSelectedRecipe(recipeElement)">
            </app-recipe-item>      
        </div>
    </div>
</div>