<div class="row" style="background-color:blanchedalmond; padding: 15px; border-radius: 10px;">
    <h4>Recipe List Component</h4>
    <hr style="height: 1px; background-color: #ccc; border: none;">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success">New Recipe</button>
        </div>
    </div>
    <br>
    <!-- Iterate over list of recipes -->
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
                    <p class="list-group-item-text">{{ recipe.description }}</p>
                </div>
                <div class="pull-right">
                    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive"
                        style="max-height: 70px;">
                </div>
            </a>
        </div>
    </div>
</div>

<app-recipe-item></app-recipe-item>