<div class="row" style="background-color:blanchedalmond; padding: 15px; border-radius: 10px; margin-left: 10px;">
  <h4>Recipe Details Component</h4>
  <hr style="height: 1px; background-color: #ccc; border: none;">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" 
      alt="{{ recipe.name}}" 
      class="img-responsive" 
      style="max-height: 300px;">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!-- 'appDropdown' is our custom directive -->
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Add To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delte Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Ingediants
    </div>
  </div>
</div>