<div class="row" style="background-color:blanchedalmond; padding: 15px; border-radius: 10px;">
  <h4>Shopping List Component</h4>
  <hr>
  <div class="col-xs-10">
    <app-shopping-edit 
      (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer;"
        *ngFor="let ingredient of ingrediants">

        {{ ingredient.name }} ({{ ingredient.amount }})

      </a>
    </ul>
  </div>
</div>

<br><br>